.education-section{
  background: #FFFFFF;
  width: 100%;
  height: 100%;

  &__schools{
    margin-bottom: 30px;

    @mixin atMedium{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &--header{
    font-size: 1.2rem;
    font-weight: 400;
    color: #383538;
    margin: 0;

    @mixin atMedium{
      font-size: 1.3rem;
    }
    @mixin atLarge{
      font-size: 1.4rem;
    }

    & a{
      color: inherit;
      text-decoration:none;
    }
  }

  &--title{
    font-size: 1rem;
    font-weight: 300;

    @mixin atMedium{
      font-size: 1.1rem;
    }
  }

  &--info{
    padding: 15px;
  }

  &--school-section{
    display: flex;
    min-height: 100px;
    width: 100%;
    padding: 10px;
    min-width: 200px;
    box-sizing: border-box;

    @mixin atMedium{
      flex:1;
      margin: 10px;
      height: 150px;
      min-width: 500px;
      max-width: 600px;
      box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
    }

    & img{
      margin-right:15px;
      width: 100px;
      height: 100px;

      @mixin atMedium{
        width: 130px;
        height: 130px;
      }

    }
  }

}
