.header-box{
  margin: 0;
  padding-top: 50px;
  height: 400px;
  width: 100%;
  text-align: center;
  color: #4C6475;
  background: #53b4bf;
  background: -moz-linear-gradient(left, #53b4bf 0%, #6ec7c6 100%);
  background: -webkit-linear-gradient(left, #53b4bf 0%,#6ec7c6 100%);
  background: linear-gradient(to right, #53b4bf 0%,#6ec7c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53b4bf', endColorstr='#6ec7c6',GradientType=1 );
  position: relative;

  @mixin atLarge{
    padding: 0;
    height: 100vh;

  }


  &__logo{
    position: absolute;
    top:0;
    left: 100;
    width: 50px;
    height:50px;
    background: url("../../assets/images/Artboard.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px;
    z-index: 10;
    transition: all 0.3s ease-in-out;

    @mixin atLarge{
      width: 70px;
      height: 70px;
      background-color: #53b4bf;
      border-radius: 20px;
      border-left: 5px solid #53b4bf;
      border-right: 5px solid #53b4bf;
    }

  }


  &__menu-content{
    height: 50px;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    opacity: 0;
    z-index: -10;
    padding-top: 0px;
    text-align: center;
    transition: opacity 0.3s ease-out;

    &--is-expanded{
      background: rgb(245,249,240) !important;
      background: -moz-linear-gradient(left, rgba(245,249,240,1) 0%, rgba(249,252,247,1) 100%);
      background: -webkit-linear-gradient(left, rgba(245,249,240,1) 0%,rgba(249,252,247,1) 100%);
      background: linear-gradient(to right, rgba(245,249,240,1) 0%,rgba(249,252,247,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9f0', endColorstr='#f9fcf7',GradientType=1 );
    }

    @mixin atLarge{
      position: relative;
      opacity: 1;
      padding-top: 0px;
      transform: scale(1);
      z-index: 10;
      box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    }

    &--is-visible{
      opacity: 1;
      z-index: 1;
      transform: scale(1);
      padding-top: 100px;
      height: 100vh;
      position: fixed;
    }

    &--dark{
      position: fixed;
      opacity: 1;
      z-index: 9;
      background-color: rgba(83,180,191,0.8);
    }
  }

  &__menu-icon{
    width:20px;
    height:19px;
    position: fixed;
    z-index: 10;
    top:15px;
    right:20px;
    cursor: pointer;

    &::before{
      content:'';
      position: absolute;
      top:0;
      left:0;
      width:20px;
      height:3px;
      background-color: #fff;
      transform-origin:0 0;
      transition: transform 0.3s ease-out;
    }

    &__middle{
      position: absolute;
      top:8px;
      left:0;
      width:20px;
      height:3px;
      background-color: #fff;
      transition: all 0.3s ease-out;
    }

    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left:0;
      width:20px;
      height:3px;
      background-color: #fff;
      transform-origin: 0 100%;
      transition: transform 0.3s ease-out;
    }

    @mixin atLarge{
      display: none;
    }
  }



  &--middle{

    @mixin atLarge{
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
    }
  }

  &__greetings{
    font-size: 4rem;
    text-align: center;
    font-weight: 700;

    @mixin atMedium{
      font-size: 5rem;
      text-align: center;
      font-weight: 700;

    }
  }

  &__title{
    font-size: 2.7rem;
    color: #FFF;
    font-weight: 700;
    text-shadow: 0px 1px 1px #777;

    @mixin atLarge{
      font-size: 4rem;
    }

  }

  &__subtitle{

    font-weight: 200;
    font-size: 1.2rem;

    @mixin atLarge{
      font-size: 1.5rem;
    }
  }

  &__quote{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 100px;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5;
    font-style: italic;
    font-family: "Roboto", sans-serif;

    @mixin atLarge{
      font-size: 1.2rem;
      letter-spacing: 1px;
      line-height: 2;
      font-style: normal;
    }
  }

  &__menu-icon--close-x{
    transition: transform 1s ease-in;

    &::before{
      transform:rotate(45deg) scaleX(1.2);
      background: #353538;
    }

    .header-box__menu-icon__middle{
      opacity: 0;
      transform: scaleX(0);
    }

    &::after{
      transform: rotate(-45deg) scaleX(1.2);
      background: #353538;
    }
  }
}
