.link-button{
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  display: inline-block;
  padding: 10px 0px;
  color:#fff;

  &--pink{
    background-color: #F42156;
  }

  &--blue{
    background-color: #3498db;
  }

  &--navy{
    background-color: #34495e ;
  }

  &--green{
    background-color: #2ecc71;
  }

  &--light-green{
    background-color: #48929B;
  }
}
