.primary-nav{
  padding-top: 15px;

  @mixin atMedium{
    padding-top: 0;
  }

  &--pull-right{

    @mixin atMedium{
      float: right;
    }
  }


  ul{
    margin:0;
    padding:0 0 30px 0;
    height: 50px;

    @mixin atMedium{
      padding:0;
      height: 50px;
    }
  }

  li{
    height: 50px;
    list-style:none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: background 0.3s ease-in;


    &:hover{
      background: #333;
    }

    @mixin atMedium{
      height: 50px;
      padding: 0 20px;
      float: left;

    }

  }

  li:last-child{
    padding-right: 0;

    @mixin atMedium{
      padding-right: 20px;
    }
  }

  a{
    margin: auto;
    color: #ecf0f1;
    font-weight: 400;
    text-decoration:none;
    padding: 8px 10px;
    font-size: 1rem;
    flex: 1;

    @mixin atMedium{
      color: #4c6475;
      padding: 12px 0px;
      font-size:1rem;
      background-color: transparent;

      &.is-current-link{
        color: orange;
      }
    }

  }

}
