.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #53b4bf;
  text-align: center;
  transition: all 300ms ease-out;
  visibility: hidden;
  opacity: 0;
  z-index: -999;
  box-sizing: border-box;

  h1 {
    color: #ffffff;
    margin-top: 50px;
    font-size: 4.5rem;

    @mixin atMedium {
      font-size: 6rem;
      margin-top: 75px;
    }
    @mixin atLarge {
      margin-top: 100px;
      font-size: 8rem;
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #ecf0f1;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: orange;
      transform: scale(1.2);
    }
  }

  &__visible {
    opacity: 1;
    z-index: 99999;
    visibility: visible;
  }

  &__resume {
    display: flex;
    flex-direction: column;
    background: #eee;
    
    &__data{
      background: #53b4bf;
      flex: 1;
      height: 100vh;
    }
  }
}
