.wrapper{
  max-width: 960px;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  &--wider{
    max-width: 1400px;
    margin: auto;
  }
}


.clearfix{
  display: table;
  content: "";
  clear: both;
}
